Añadir un nuevo comentario:	<p>
	
<form method="post" action="/quizes/<%=quizId%>/comments/">
	<input type="text" id="coment" name="comment[texto]" value=""/>
	<button type="submit" id="boton" >Enviar</button>
</form>