<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<div>El portal en el que crear sus propios juegos</div>
	<div><a href ='/quizes/question'>comenzar</a></div>
  </body>
</html>
