<!DOCTYPE html>
<html lang="en">
<form methods="get" action="/quizes/answer">
	<p>Pregunta: <%= pregunta %> </p></br>
	<input type="text" name="respuesta" placeholder="Responda aqui"/>
	<input type="submit" id="boton" value="Enviar"/>
</form>
</html>